@charset "UTF-8";
	* {	
		margin: 0; 
		padding: 0;
	}
	
	.prItems, .npItems {
		border: 1px solid black;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 2px;
		margin-bottom: 4px;
		text-align: center;
	}
	
	.orderOk {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.allOk, .orderOk { text-align: end;	}
	.search { text-align: center;}
	.navbar { width: 100%; }
	h2 { text-align: center;}
	
	.main {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: start;
		height: 80%;
	}
	
	.orderItems {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	
	.center {
		width: 70%;
		height: 562px;		
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	