@charset "UTF-8";

h3{
	text-align: center;
	margin-bottom: 20px !important;
}

html, body {    
	overflow: hidden;    
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;    
	font-size: 14px;  
}  
/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */  
.fc-header-toolbar {    
	padding-top: 1em;    
	padding-left: 1em;    
	padding-right: 1em;
}

/* 토요일 */
.fc-day-sat .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number{
	color: red;
}
.fc-day-sat .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number{
	color: blue;
}

/* 일요일 */
.fc-day-sun .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number{
	color: red;
}

.fc-day-sun .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion{
	color: red;
}

/* 전체 글 색 */
.fc-daygrid-day-number{
	color: black;
}

/* 달력 넘김버튼 툭 튀어나온곳 제거*/
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(1) > div > button.fc--button.fc-button.fc-button-primary{
	display: none;
}

/* 오른쪽 상단 월/주/일/일정목록 숨김 */
#calendar > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr > div:nth-child(3){
	display: none;
}

/**/
#fc-dom-1{
    margin-right: 470px;
}

/* a { color:#000000;text-decoration:none; }
.scriptCalendar { text-align:center; }
.scriptCalendar > thead > tr > td { width:50px;height:50px; }
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
.scriptCalendar > thead > tr:last-child > td { background-color:#90EE90; }
.scriptCalendar > tbody > tr > td { width:50px;height:50px; }
.calendarBtn { cursor:pointer; }

table{
	width: 100%;
    height: 550px;
    border: 1px solid;
}
*/