@charset "UTF-8";

h3{
	text-align: center;
	margin-bottom: 20px !important;
}

html, body {    
	overflow: hidden;    
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;    
	font-size: 14px;  
}  

#calendarForm{
	width: 100%;
}

#week, #week1, #week2, #week3, #week4, #week5, #week6, #month, #total{
	width: 142px;
    height: 40px;
    border: 1px solid;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

* {
	margin: 0;
	padding: 0
}

table {
	width: 100%;
	height: 500px;
	text-align: center !important;
}

.custom_calendar_table td {
	text-align: center;
}

.custom_calendar_table thead.cal_date th {
	font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
	font-size: 1.5rem;
	background: none;
	border: none;
}

.custom_calendar_table thead.cal_week th {
	background-color: #288CFF;
	color: #fff;
}

.custom_calendar_table tbody td {
	cursor: pointer;
}

.custom_calendar_table tbody td:nth-child(1) {
	color: red;
}

.custom_calendar_table tbody td:nth-child(7) {
	color: #288CFF;
}

.custom_calendar_table tbody td.select_day {
	background-color: #288CFF;
	color: #fff;
}